@media only screen and (max-width: 650px) {
    header {
        nav {
            display: none;
        }
        .nav {
            display: none;
        }
    }
   

    body {
        font-size: 12px;
        width: 100%;
        .parrafo-inicio {
          display: flex;
            white-space: nowrap;
            font-size: 1000 rem;
            width: 100%;
            box-sizing: border-box;
            display: inline-block;
    }
    .carousel {
        position: relative;
        width: 100%;
        margin:auto;
        overflow: hidden;
        .carousel-inner {
            display: flex;
            transition: transform 0.5s ease;
          }
          .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
         
        .rounded {
                    display: block;
                    align-items: center;
                    justify-content:center;
                  }
            }
          }
        }
    }