
.d-block {
    justify-content: center !important; 
}





h2 {
    font-size: 20px;
    text-align: center;
}




h2 {
    color: azure;

   
}

.rounded {
        width: 100%;
        height: auto;
    }

 h5 {
    font-size: 1.5em !important;
    overflow: auto !important;
}

.carousel-inner {
        padding: 9px;
        margin: 0 auto;
    }


    .menu {
        font-size: 13px;
    }






.img-container img {
    max-width: 400px;
    padding: 1rem;
    display:block
}

.img-container p {
    width: 100;
    text-align: center;
}

.img-container3 img {
    padding: 1rem;
    display:block
    margin: 0 auto;
}

.img-container p {
    width: 100;
    text-align: center;
}
