footer {
    background-color: #000;
    position: absolute;
    width: 100%;
    margin-top: 300px;
    padding: 35px;
      .logo-footer {
        width: 15rem;
        margin: 2rem;
        margin-top: 1rem;
        display: flex;
    }
   
    .grupo-1 {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;


        h2 {
            color: #ffffff;
            padding: 20px;
         }
         .footerenlaces {
            color: #ffffff;
            .footer-item {
                 color: #ffffff;
                  left: 10px;
                   text-decoration: none;
                    &:hover {
                         text-decoration: underline;
                         margin: 10px;
                        }    
                    }
                }




    h6 {
        color: #ffffff;
        padding: 20px;
        font-size: 2rem;
        margin-top: 10px;
    }
   
    .redes-sociales {
         a {
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 45px;
            color: #fff;
            background-color: #0d2033;
            text-align: center;
       
         }
        }
   
    .footer-parrafo {
        margin-right: 10px;
    }


   
        p {
            color: white;
            margin-bottom: 10px;
            text-align: justify;
    }
  }
        }
