header {
    display: flex !important;
    justify-content: space-around !important;
    border-bottom: 1px solid gray !important;
    align-items: center;
    nav {
        ul {
            list-style-type: none;
            display: flex;
            display: none;
            li {
                margin: 5px;
                a {
                    color: #E94C61; 
                    text-decoration: none;
                    font-weight: bold;
                    &:hover {
                        text-decoration: underline;
                        margin: 10px;
                    }
                }
            }
        }
    }
     
}


