.carousel {
    padding: 30px !important;
    margin: 30px !important;
    align-content: center !important;
    justify-content: center !important;

.carousel-inner {
background-color: #000000 !important;
align-content: center !important;
justify-content: center !important;
padding: 30px !important;
text-align: center;
.imagenes-carrusel {
    width: 60%;
    height: auto;
    object-fit: cover;
}
 .tituloscarrusel {
    background-color: red;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-weight: 800px;
    &:hover {
    text-decoration: underline !important;
    }
    .carousel-item {
        align-content: center !important;
        h5 {
            font-weight: 800 px !important;
            color: #ffffff !important;
            font-size: 30px;
            
                &:hover {
             text-decoration: underline !important;
        }
    }
}
}
}
}